<div class="section">
  <div class="background">
    <!-- <img src="./assets/Background/nuevoheader.png" alt="" /> -->
  </div>

  <header>
    <div class="section-header">
      <img class="chatbetone" src="./assets/Icon/Layer_1.png" alt="" routerLink="/"/>
      
      <div class="newidioma">
        <a (click)="switchLanguage('en'); false">En</a>
        <a>|</a>
        <a (click)="switchLanguage('es'); false">Es</a>
      </div>
      <div class="navbar">
        <a href="#feature">{{ 'header.navigation.features' | translate }}</a>
        <a href="#benefits">{{ 'header.navigation.benefits' | translate }}</a>
        <a href="#HowDoesitWork">{{ 'header.navigation.howItWorks' | translate }}</a>
        <a href="#security">{{ 'header.navigation.security' | translate }}</a>
        <a href="#compliance">{{ 'header.navigation.compliance' | translate }}</a>
        <a href="#integration">{{ 'header.navigation.integration' | translate }}</a>
        <a href="#contactus">{{ 'header.navigation.contactUs' | translate }}</a>
        <span class="divisor">|</span>
        <a routerLink="/spotlight">{{ 'header.navigation.spotlight' | translate }}</a>
        <span class="divisor">|</span>
        <a routerLink="/aboutus" href="">{{ 'header.navigation.aboutUs' | translate }}</a>
        <span class="divisor">|</span>
        <div class="idioma">
          <a (click)="switchLanguage('en'); false">En</a>
          <a (click)="switchLanguage('es'); false">Es</a>
        </div>
      </div>
    </div>
  </header>

  <div class="first-section">
    <div class="first-section-container">
      <div class="text">
        <br>
        <h1>{{ 'aboutUs.title' | translate }}</h1>
        <br>
        <span class="TitleBold3">{{ 'aboutUs.subtitle' | translate }}</span>

        <p>
          {{ 'aboutUs.description1.part1' | translate }}
          <span class="TitleBold3">{{ 'aboutUs.description1.highlight1' | translate }}</span>
          {{ 'aboutUs.description1.part2' | translate }}
          <span class="TitleBold3">{{ 'aboutUs.description1.highlight2' | translate }}</span>
        </p>
        <p>
          <span class="TitleBold3">{{ 'aboutUs.description2.highlight1' | translate }}</span>
          {{ 'aboutUs.description2.part1' | translate }}
          <span class="TitleBold3">{{ 'aboutUs.description2.highlight2' | translate }}</span>
          {{ 'aboutUs.description2.part2' | translate }}
          <span class="TitleBold3">{{ 'aboutUs.description2.highlight3' | translate }}</span>
        </p>
        
        <br>
       
        <div class="completebutton">
          <a href="#contactanos">{{ 'aboutUs.cta' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <h1>{{ 'aboutUs.changingGame.title' | translate }}</h1>
        <div>
          <p>
            {{ 'aboutUs.changingGame.paragraph1.part1' | translate }}
            <span class="TitleBold3">{{ 'aboutUs.changingGame.paragraph1.highlight1' | translate }}</span>
            {{ 'aboutUs.changingGame.paragraph1.part2' | translate }}
          </p>
          <p>
            {{ 'aboutUs.changingGame.paragraph2.part1' | translate }}
            <span class="TitleBold3">{{ 'aboutUs.changingGame.paragraph2.highlight1' | translate }}</span>
            {{ 'aboutUs.changingGame.paragraph2.part2' | translate }}
          </p>
        </div>
      </div>
      <div class="chatbetimage" style="display: flex">
        <img src="../../../../assets/prueba.png" alt="">
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/ourmision.png" alt="" />
      </div>
      <div class="text">
        <h1 class="TitleBold2">{{ 'aboutUs.mission.title' | translate }}</h1>
        <p>{{ 'aboutUs.mission.text' | translate }}</p>
        <h1 class="TitleBold2">{{ 'aboutUs.vision.title' | translate }}</h1>
        <p>{{ 'aboutUs.vision.text' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<div id="funciones" class="section">
  <div class="second-section">
    <div class="second-flex">
      <div class="tag">
        <span class="TitleTag" id="contactus">{{ 'aboutUs.team.title' | translate }}</span>
      </div>
      <h1>{{ 'aboutUs.team.heading' | translate }}</h1>
      <div class="text">
        <p>{{ 'aboutUs.team.description' | translate }}<br /><br /></p>
      </div>
    </div>
  </div>
</div>

<div id="comofunciona" class="section">
  <div class="fourth-section">
    <div class="image-carousel">
      <div class="carousel-item">
        <img src="../../../../assets/CEO/1.png" alt="" />
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.0.name' | translate }}</h2>
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.0.position' | translate }}</h2>
        <p>{{ 'aboutUs.team.members.0.description' | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/CEO/2.png" alt="" />
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.1.name' | translate }}</h2>
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.1.position' | translate }}</h2>
        <p>{{ 'aboutUs.team.members.1.description' | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/CEO/3.png" alt="" />
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.2.name' | translate }}</h2>
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.2.position' | translate }}</h2>
        <p>{{ 'aboutUs.team.members.2.description' | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/CEO/4.png" alt="" />
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.3.name' | translate }}</h2>
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.3.position' | translate }}</h2>
        <p>{{ 'aboutUs.team.members.3.description' | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/CEO/5.png" alt="" />
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.4.name' | translate }}</h2>
        <h2 class="TitleBold3">{{ 'aboutUs.team.members.4.position' | translate }}</h2>
        <p>{{ 'aboutUs.team.members.4.description' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <div class="fotter1">
    <img [src]="currentImages['footer']" alt="" />
  </div>
  <div class="fotter2">
    <img [src]="currentImages['footer2']" alt="" />
  </div>
</div>