<header  [class.scrolled]="isScrolled">
  <div class="section-header">
    <div class="mobileheader">
      <img class="chatbetone" src="./assets/Icon/Layer_1.png" alt="{{ 'header.logoAlt' | translate }}" routerLink="/" />
      <div class="newidioma">
        <a href="" (click)="switchLanguage('en')"> {{ 'header.languageSwitch.english' | translate }} </a>
        <a href="">|</a>
        <a href="" (click)="switchLanguage('es')"> {{ 'header.languageSwitch.spanish' | translate }} </a>
      </div>
      <button class="menu-toggle" aria-label="Toggle menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      
    </div>


    <div class="menu-overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>

    <div class="navbar" [class.active]="isMenuOpen">
      <a  (click)="scrollToSection($event, 'feature')">{{ 'header.navigation.features' | translate }}</a>
      <a (click)="scrollToSection($event, 'benefits')">{{ 'header.navigation.benefits' | translate }}</a>
      <a  (click)="scrollToSection($event, 'HowDoesitWork')">{{ 'header.navigation.howItWorks' | translate }}</a>
      <a  (click)="scrollToSection($event, 'security')">{{ 'header.navigation.security' | translate }}</a>
      <a  (click)="scrollToSection($event, 'compliance')">{{ 'header.navigation.compliance' | translate }}</a>
      <a  (click)="scrollToSection($event, 'integration')">{{ 'header.navigation.integration' | translate }}</a>
      <a  (click)="scrollToSection($event, 'contactus')">{{ 'header.navigation.contactUs' | translate }}</a>
      <span class="divisor">|</span>
      <a routerLink="/spotlight">{{ 'header.navigation.spotlight' | translate }}</a>
      <span class="divisor">|</span>
      <a routerLink="/aboutus" href="">{{ 'header.navigation.aboutUs' | translate }}</a>
      <span class="divisor">|</span>
      <div class="idioma">
        <a href="" (click)="switchLanguage('en')"> {{ 'header.languageSwitch.english' | translate }} </a>
        <img 
      (click)="switchLanguage('en')"
      [src]="currentLanguage === 'en' 
        ? '../../../../assets/header/en-on.png' 
        : '../../../../assets/header/en-off.png'" 
      alt="English"
    >
        
        <a href="" (click)="switchLanguage('es')"> {{ 'header.languageSwitch.spanish' | translate }} </a>
        <img 
        (click)="switchLanguage('es')"
        [src]="currentLanguage === 'es' 
          ? '../../../../assets/header/es-on.png' 
          : '../../../../assets/header/es-off.png'" 
        alt="Español"
      >
      </div>
    </div>
  </div>
</header>
