h1,h2,h3,h4,h5,h6{
    color: black;
    font-family: "Poppins", sans-serif;
}           
.TitleBold, .TitleBold2{
    font-family: "Poppins-Bold", sans-serif;
    color:#5554F3;
}

.TitleBold3{
    font-family: "Poppins-Bold", sans-serif;
    span{
        color: black
    }
}

p{

    text-align: justify;
}


.backgroundline{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .fotter1{
        @media (max-width: 900px){
            display: none;   
        }
    }
    
    .fotter2{
        @media (min-width: 900px){
            display: none;    
        }
    }

    .review{
        @media (max-width: 900px){
            display: none;   
        }
    }

    .reviewphone{
        @media (min-width: 900px){
            display: none;    
        }
    }
    .iconline {
        position: relative;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%; 
        @media (max-width:900px){
            height: 80px;
            
        }
      
    }
    
    .line {
        position: absolute;
        width: 50%;
        height: 50%;
        @media (max-width:900px){
            height: 80%;
            width: 80%;
            transform: scale(1); 
        }
        transform: scale(1.2); 
        object-fit: contain; 
    }
}
h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins-Bold", sans-serif;
    margin-top: 24px;
    margin-bottom: 0;
    @media (max-width: 900px){
        font-size: 1.8rem;
        width: 100%;
    }
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins-Medium", sans-serif;
    margin: 0;
    margin-top: 16px;
   
}

    .section{
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 7%;
        padding-right: 7%;
        margin-bottom: 64px;
        .background{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section-header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;

        .phonediv{
            display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
       
        @media screen and (min-width: 900px){
            display: none;
        }
        }

        @media screen and (max-width: 900px){
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        
          .chatbetone{
            display: none;
          }
        }

        @media screen and (min-width: 900px){
          .chatbet{
            display: none;
          }
        }

        .newidioma{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            justify-content: space-between;
            margin-left: 15px;
            a{
                margin: 5px;
                color: white;
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                font-weight: 600;

                &:hover{
                    color: #9595ff;
                }
            }
            @media screen and (min-width: 900px){
                display: none;
            }
        }
    }


    .navbar{
        display: flex;
        a{
            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-family: "Poppins", sans-serif;
            &:hover{
                color: #9595ff;
            }

            
        @media(min-width: 1050px) and (max-width: 1100px){
            margin-right: 8px;
        }
  
            @media screen and (max-width: 1049px){
                display: none;  
            }
        }

        .divisor{
            margin-right: 5px;
            font-family: "Poppins", sans-serif;
            font-weight: bold;

            @media screen and (max-width: 1049px){
                display: none;  
            }
        }

        .idioma{
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
            /* font-size: 1.5rem; */
            margin: 0;
            font-weight: 400;
            a{
                margin: 5px;
            }

            @media screen and (max-width: 900px){
                margin-top: 20px;
                margin-bottom: -25px;
            }
        }

        .us{
            margin-right: 10px;
        }
        .us:hover {
            opacity: 0.5;
        
        }
        .esp:hover{
            opacity: 0.5;
        }

    }
    
    .TitleBold{
        font-family: "Poppins-Bold", sans-serif;
    }
    .TitleBoldMobile{
        font-family: "Poppins-Bold", sans-serif;
        @media screen and (max-width: 900px){
            font-size: 1.5rem;
        }
    }


    /* First Section */

    .first-section{
        display: flex;
        flex-direction: column;

    
        @media screen and (max-width: 900px){
            .gif{
                display: none;
            }
            .gif2{
                position: relative;
                display: flex;
                margin-top: 4rem;
                align-items: center;
                justify-content: center;
                img{
                    width: 50%;
                    height: auto;
                     object-fit: contain;  
                     /* margin-bottom: -110px      */
                }


            }
        }
        .gif2{
            @media screen and (min-width: 900px){
                display: none;   
            }
        }
  
    .first-section-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        margin-top: 3rem;
        .image-first-container{
            width:40%;
            position: relative;
            
            .lastimage{
                position: absolute;
                top: 0;
                right: 0;
                width: 35%;
                margin-right: 10%;
                height: auto;
              }
            img{
                width: 100%;
                
                margin-bottom: 0;
                  @media (max-width: 900px){
                      display: none;
                  }

                 
            }
        }
       
        @media (max-width: 900px){
            display: flex;
            flex-direction: column;

        }

        .gif{
        position: relative;
         }
        .video-play{
            position: absolute;
            width: 100px; 
            height: 100px; 
            background-image: url('../../../../assets/Icon/video.png'); 
            background-size: cover; 
            /* transition: background-image 0.5s ease-in-out; */
            top: 45%;
            left: 42%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

       
      /*   .video-play:hover{
            background-image: url('../../../../assets/img/play2.svg'); 

        } */

        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

          }
        
        .text{
            font-family: 'Poppins', sans-serif;
            color: black;
            width: 50%;
            margin-top: 0;
            @media screen and (max-width: 900px){
                width: 100%;
               
            }
        }

        .texto{
            display: flex;
            align-items: stretch; 
            margin-top: 0;
           /*  margin-top: 10px; */

          /*   img{
                width: 5px;
                object-fit: cover;
                margin-right: 3%; 
            } */
            p{
                margin: 0;
                transition: opacity 0.5s;
                margin-top: 24px;
                
            }
        }

        a{
            padding: 1rem;
            border: solid 1px;
            border-color: #9595ff;
            border-radius: 50px;
            background-color: #5554F3;
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 32px;
            font-size: medium;
            text-align: center;
            text-decoration: none;

            @media (max-width: 900px){
                width: 100%;
                
            }
        }

        a:hover{
            opacity: 0.5;
            cursor: pointer;
        }
       
        
        .es-size{

            img{
                width: 85%;
                height: auto;
                object-fit: cover;       
            }
        }

        .en-size{

            img{
                width: 65%;
                height: auto;
                object-fit: cover;    
                margin-left: 10%;   
            }
        }
       
        .video{
            display: flex;
            width: 100%;
            button{
                width: 50%;
            }
            img{
                width: 30%;
                height: auto;
                object-fit: contain;
                margin-left: 15px;
                cursor: pointer;
                margin-top: 27px;
            }
        }

        .animation-container{
           
            .lottie-animation{
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-top: 24px;
            }
        }
        
    }

}


    /* Second Section */
    .second-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;

        h1{
            margin-top: 4rem;
        }

        p{
          
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        /* margin-top: -70px; */
        
        @media (max-width: 900px) {
            display: block;
            margin-top: 0;
            
        }
        .text{
            font-family: 'Poppins', sans-serif;
            color: black;
            width: 60%;
            
            @media screen and (max-width: 900px){
                width: 100%;
            }
            span{
                color: black;
            }
        }

        .texto{
            display: flex;
            align-items: center;
            margin-top: 3rem;
            

            img{
                width: 5px;
                height: 100%;
                margin-right: 3%;
            }

            p{
                margin: 0;
                transition: opacity 0.5s;
                margin-top: -10px;
            }

            p.active {
                opacity: 1;
            }
        }
        .navigation-buttons{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 32px;
            @media (max-width: 900px){
                margin-bottom: 32px;
                
            }
            
            button{
                background-color: rgba(100, 100, 255, 0.5);
                border: solid 1px;
                border-color: #9595ff;
                color: #9595ff;
                font-size: 1.5rem;
                border-radius:28px;
                padding: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                cursor: pointer;
                
            }

            button:hover{
                opacity: 0.5;
            }

         
             button:active {
                transform: scale(0.95);
            }
            
            .hidden {
                visibility: hidden;
            }
            
            
        }

        .image-section{
            width: 40%;
            @media screen and (max-width: 900px){
                width: 100%;
            }
         }
        img{
            width: 80%;
            height: auto;
            object-fit: cover; 
            
    
        }
}

    /* Third Section */
    .third-flex{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        @media (max-width: 900px) {
            display: block;
            
        }

        .text{
            font-family: 'Poppins', sans-serif;
            color: black;
            width: 45%;
            margin-left: 1.5rem;

            @media screen and (max-width: 900px){
                width: 100%;
                margin-left: 0;
            }
            
        }

        .division{
            display: flex;
            button{
                width: 35%;
            }
        }

        .completebutton{
            margin-top: 2rem;
             a{
            padding: 1rem;
            border: solid 1px;
            border-color: #9595ff;
            border-radius: 50px;
            background-color: #5554F3;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: medium;
            text-align: center;
            text-decoration: none;
            width: 90%;
            display: flex;
            justify-content: center;

            @media (max-width: 900px){
                width: 90%;
                
            }
        }

        a:hover{
            opacity: 0.5;
            cursor: pointer;
        }
       
        }

        .frame4{
            top: 0;
            width: 100;
            height: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-left: 5.8rem;
                @media (max-width: 900px){
                    margin-left: 1rem;
                    
                }
            }

        }
        .botones{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 32px;
            flex-direction: column;
            @media (max-width: 900px){
                margin-bottom: 32px;
                
            }

            span{
                background-color: #F3F2FF;
                color: #5554F3;
                border: solid 1px;
                border-color:#5554F3;
                border-radius: 50px;
                padding: 5px;
                margin-left: 5px;
                width: 95%;
                margin-top: 5px;
                text-align: center;
                
               
            }
         /*    button:hover{
                background-color:#5554F3;
                color: white;
            } */

            @media screen and (max-width: 900px){
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 1rem;
              button{
                margin-left: 0;
              }
                
            }
        }

        .texto{
            display: flex;
           
            
            img{
                width: 5px;
                object-fit: cover;
                /* margin-right: 3%;    */
            }
           
            p{
                margin: 0;
                transition: opacity 0.5s;
                margin-top: 24px;
            }
        }

        .navigation-buttons{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 32px;

            @media (max-width: 900px){
                margin-bottom: 32px;
                
            }
           
            
            
        }

        .navigation-buttons button:active {
            transform: scale(0.95);
        }
        
        .navigation-buttons button.hidden {
            visibility: hidden;
        }
        
        
                .image-section{
                    width: 55%;
                    
                    @media screen and (max-width: 900px){
                        width: 100%;
                    }
                 }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                button{
                    width: 40%;
                    padding: 1rem;
                    border: solid 1px;
                    border-color: #9595ff;
                    border-radius: 50px;
                    background-color: #5554F3;
                    /* color: #9595ff; */
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    margin-top: 32px;
                    font-size: medium;
        
                    @media (max-width: 900px){
                        width: 100%;
                        
                    }
                }

                button:hover{
                    opacity: 0.5;
                    cursor: pointer;
                }
                
}

    

    /* Fourth Section */

    .fourth-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        .text {
            font-family: 'Poppins', sans-serif;
            color: black;
    
          
        }
    
        .texto{
            display: flex;
            align-items: center;
           
            img{
                width: 5px;
                object-fit: cover;
                margin-right: 3%;
                @media (min-width: 768px){
                    height: 100px;
    
                    
                }
               
            }

            p{
                margin: 0;
                transition: opacity 0.5s;
                border-left: 4px solid  #9595ff;
                padding-left: 1rem;
                margin-top: 24px;
            }
            
        }
    
    }

    
    .image-carousel {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
      
        .carousel-item {
          flex: 1;
          text-align: center;
          padding: 10px;
          margin: 0 5px;
      
          img {
            width: 80px;
            height: auto;
            object-fit: cover;
            margin-top: 24px;
          }
      
          p {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            margin-top: 10px;
            text-align: center;
          }
        }
      
        @media (max-width: 900px) {
          flex-direction: column; /* Cambia el layout a columna */
          align-items: center;
      
          .carousel-item {
            width: 100%; /* Asegura que las imágenes ocupen todo el ancho */
            margin: 10px 0; /* Añade un poco de margen entre los items */
      
            img {
              width: 60px; /* Ajusta el tamaño de las imágenes en modo teléfono */
            }
          }
      
          /* Elimina cualquier propiedad de scroll para carrusel */
          overflow: visible;
          scroll-snap-type: none;
        }
      }
      
    
  /* Fifth Section */

    .fifth-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

       img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              margin-top: 24px;
       }
       p{
        margin-top: 24px;
       }
    
    }

/*Sixth-section  */

.sixth-section{

        h1,h3{

            align-items: center;
            text-align: center;
            justify-content: center;
        }

        .TitleBold2{
            font-family: "Poppins-Bold", sans-serif;
            text-align: center;
            display: flex;
            justify-content: center;
        }

    
}
.form-input{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 900px){
        display: block;
    }

    input{
        width: 90%;
        padding: 1rem;
        border: none;
        /* border-radius: 16px; */
        background-color: transparent;
        border-bottom: solid 1px;
        border-color: black;
        color: black;
        font-family: 'Poppins', sans-serif; 
        margin-top: 15px;
    }

    input::placeholder{
        color: gray;
        font-family: 'Poppins', sans-serif;    
    }

    label{
        color: black;
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
}

.form-section{
    margin-top: 1rem;
}

.form-send{
    margin-top: 4%;
    label{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    input{
        width: 90%;
        padding: 3rem;
        border:none;
        border-bottom: solid 1px;
        border-color: black;
        /* border-radius: 10px; */
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        margin-top: 15px;
        align-items: center;
        color: black;
        
        @media (max-width: 900px){
            width: 78%;
            padding: 2rem;
        }
    }

    input::placeholder{
        color: gray;
        font-family: 'Poppins', sans-serif;    
    }

    button{
        width: 20%;
        padding: 1rem;
        border: solid 1px;
        border-color: #9595ff;
        border-radius: 50px;
        background-color:#5554F3;
        color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 35px;
            font-size: medium;

        @media (max-width: 900px){
            width: 100%;
        }

}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}



}