<div class="section">
  <div class="background">
    <!-- <img src="./assets/Background/nuevoheader.png" alt="" /> -->
  </div>

  <header>
    <div class="section-header">
      <img class="chatbetone" src="./assets/Icon/Layer_1.png" alt="" />
      
      <!-- <img class="chatbet" src="../../../../assets/img/Frame0.png" alt="" /> -->
      <div class="newidioma">
        <a href="" (click)="switchLanguage('en')">
          En
        </a>
        <a href="">|</a>
        <a href="" (click)="switchLanguage('es')">
          Es
        </a>
      </div>
      <div class="navbar">
        <a href="#feature">Features</a>
        <a href="#benefits">Benefits</a>
        <a href="#HowDoesitWork">How It Works</a>
        <a href="#security">Security</a>
        <a href="#compliance">Compliance</a>
        <a href="#integration">Integration</a>
        <a href="#contactus">ContactUs</a>
        <span class="divisor">|</span>
        <a routerLink="/spotlight"  >Spotlight</a>
        <span class="divisor">|</span>
        <a  routerLink="/aboutus" href="">About Us</a>
        <span class="divisor">|</span>
        <div class="idioma">
          <a href="" (click)="switchLanguage('en')">
            En
          </a>
          <a href="" (click)="switchLanguage('es')">
            Es
          </a>
         <!--  <img
            [src]="
              currentLanguage === 'en'
                ? '../../../../assets/img/us-on.svg'
                : '../../../../assets/img/us-of.png'
            "
            alt=""
            class="us"
            (click)="switchLanguage('en')"
          />
          <img
            [src]="
              currentLanguage === 'es'
                ? '../../../../assets/img/esp-on.png'
                : '../../../../assets/img/esp-off.svg'
            "
            alt=""
            class="esp"
            (click)="switchLanguage('es')"
          /> -->
        </div>
      </div>
    </div>
  </header>

  <div class="first-section">
    <div class="gif2">
      <img
        [src]="currentImages['phone']"
        alt=""
        style="margin-top: 0"
      />
    </div>

    <div class="first-section-container">
      <div class="text">
        <div class="animation-container">
          <ng-lottie
            *ngIf="currentLanguage === 'es'; else otherOptions"
            [options]="options"
            class="lottie-animation"
          >
          </ng-lottie>
          <ng-template #otherOptions>
            <ng-lottie [options]="secondoptions" class="lottie-animation">
            </ng-lottie>
          </ng-template>
        </div>
        <div class="texto">
          <ng-container *ngIf="currentLanguage === 'es'">
            <p>ChatBet is the #1 AI-powered betting assistant — transforming messaging apps into powerful revenue channels for operators. <br /><br />
              Players can bet instantly via WhatsApp, Telegram, Discord, and more. No apps, no friction — just seamless chat-based betting. <br/><br/>
              Built for operators, enjoyed by players.<br/><br/>
            </p>
          </ng-container>

          <ng-container *ngIf="currentLanguage === 'en'">
            <p>{{ "text" | translate }} <br /><br /></p>
          </ng-container>
        </div>
       <div class="lista">
        <ul>
          <li>
            <span class="TitleBold3">Boost Player Retention</span></li>
          <li>
            <span class="TitleBold3">
              Increase GGR & Bet Volume
            </span>
          </li>
          <li>
            <span class="TitleBold3">
              Seamless Integration
            </span>
          </li>
          </ul>
       </div>

        <div class="video">
          <a href="#contactanos">Book a Live Demo</a>
          <img
            [src]="currentImages['img3']"
            alt=""
            (click)="playVideo()"
          />
        </div>
      </div>

      <div class="image-first-container">
       <!--  <img
          [src]="currentImages['img5']"
          alt=""
          style="margin-top: 0"
        />
        <img class="lastimage" [src]="currentImages['img2']" alt="" /> -->

        <img src="../../../../assets/imagen-inicial.png" alt="">
        <img class="lastimage" [src]="currentImages['img2']" alt="" />
      </div>

      <div
        class="gif"
        [ngClass]="{
          'es-size': currentLanguage === 'es',
          'en-size': currentLanguage === 'en'
        }"
      >
        <video
          #videoElement
          width="100%"
          height="100%"
          style="display: none"
          controls
        >
          <source [src]="currentImages['video']" type="video/mp4" />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <div class="iconline">
    <img src="../../../../assets/Background/end-sect-one.png " alt="" />
    <img class="line" src="../../../../assets/inversionistas.png" alt="" />
  </div>
</div>

<div class="trust">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
          <span class="TitleBold">Trusted by Leading igaming operators</span>
          <h1>Now Integrating With</h1>
        </div>
        <div class="merch" >
          <img src="../../../../assets/betvip.png" alt="">
          <img src="../../../../assets/betplay.png" alt="">
          <!-- <img src="../../../../assets/apuestasRoyale.png" alt=""> -->
        </div>
    </div>
  </div>
</div>

<hr class="hr">


<!-- 1. Primera Parte -->
<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <h1>What is ChatBet?</h1>
        <div >
          <p>
            ChatBet is the first AI-powered betting assistant, offering operators fully automated, real-time betting via chat - and unlocking a brand-new revenue channel thorugh messaging platforms.
          </p>

          <div class="secondlist">
            <ul>
              <li>
                <span class="TitleBold3">Increase Engagement:</span>
                 Players place bets as naturally as chatting with a friend.
              </li>
              <li>
                <span class="TitleBold3">Boost Retention:</span>
                 AI-driven personalization keeps players coming back.
              </li>
              <li>
                <span class="TitleBold3">Maximize Revenue:</span>
                 Operators report a +30% increase in retention & betting frequency.
              </li>
              <li>
                <span class="TitleBold3">Frictionless Betting:</span>
                 No apps, no websites—just chat & play.
              </li>
              
            </ul>
          </div>

          <p>
            ChatBet turns WhatsApp, Telegram, and other messaging apps into high-performing betting channels, helping operators grow without adding complexity.
          </p>

          <p>
            <em>Available exclusively through licensed sportsbook operators for a fully compliant, secure integration.</em>
          </p>
        </div>

        <div class="completebutton">
          <a href="#contactanos">See How It Works</a>
        </div>

      </div>
      <div class="chatbetimage" style="display: flex">
        <img src="../../../../assets/prueba.png" alt="">
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<!--2. Feature -->
<div id="funciones" class="section">
  <div class="second-section">
    <div class="second-flex">
      <span class="TitleTag" id="feature">Features</span>
      <h1>{{ "Features" | translate }}</h1>
      <div class="text">
        <div class="texto">
          <p>ChatBet is built for operators to boost engagement, streamline transactions, and enhance experiences. <br /><br /></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="comofunciona" class="section">
  <div class="fourth-section">
    <div class="image-carousel">
      <div class="carousel-item">
        
        <img src="../../../../assets/Icon/icon1.png" alt="" />
        <!-- <h2>{{ "title1" | translate }}</h2> -->
        <h2>Natural Language Betting</h2>
        <p>Players bet as easily and naturally as texting a friend.</p>
        <!-- <p>{{ "Hablacon" | translate }}</p> -->
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/Icon/ia.png" alt="" />
        <!-- <h2>{{ "title2" | translate }}</h2> -->
        <h2>AI-Powered Personalization</h2>
        <p>Available on web, mobile app, and more with easy integration.</p>
        <!-- <p>{{ "Buscacon" | translate }}</p> -->
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/moneda.png" alt="" />
        <!-- <h2>{{ "title3" | translate }}</h2>
        <p>{{ "Conuna" | translate }}</p> -->
        <h2>Instant Bets</h2>
        <p>Bet in seconds with fast responses and no waiting.</p>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon3.png" alt="" />
        <h2>Seamless Multi-platform Integration</h2>
        <p>WhatsApp, Telegram, web, or app—wherever your players are.</p>
      </div>
    
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon2.png" alt="" />
        <h2>Secure & Reliable Transactions</h2>
        <p>Full encryption and compliance with industry standards.</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/Icon/tuerca.png" alt="" />
        <h2>Effortless Operator Integration</h2>
        <p>Your transactions and data are always protected.</p>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/balon.png" alt="" />
        <h2>Mid-Game & High-Payout Bets</h2>
        <p>Custom bets on the go, even mid-match.</p>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/dosmonedas.png" alt="" />
        <h2>Cross-Vertical Gaming</h2>
        <p>Switch between sports, casino, games without leaving the chat.</p>
      </div>
    </div>
    <div class="completebutton">
      <a href="#contactanos">Learn More About ChatBet</a>
    </div>
  </div>
</div>

<hr class="hr">


<!-- 3. Beneficios -->
<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame2.png" alt="" />
      </div>
      <div class="text">
        <span class="TitleTag" id="benefits">Benefits</span>
        <h1>{{ "Beneficios" | translate }}</h1>

        <div class="top-buttons">
          <button
          [class.active]="operatorsType === 'operators'"
            (click)="operatorsType = 'operators'"
          >Operators</button>
          <button
          [class.active]="operatorsType === 'players'"
          (click)="operatorsType = 'players'">Players</button>
        </div>

        <div class="texto"  *ngIf="operatorsType === 'operators'">
         <!--  <p>
            <span class="TitleBold3">{{ "Reducción" | translate }}</span>
            {{ "Minimiza" | translate }}<br /><br />
            <span class="TitleBold3">{{ "Machine" | translate }} </span
            >{{ "Utiliza" | translate }}<br /><br />
            <span class="TitleBold3">{{ "IA" | translate }}</span>
            {{ "Responde" | translate }}
          </p> -->
          <div class="secondlist">
            <ul>
              <li>
                <span class="TitleBold3">Boost Player Retention –</span>
                +30% improvement in 90-day retention
              </li>
              <li>
                <span class="TitleBold3">Increase Betting Volume –</span>
                Players bet more frequently with AI-driven prompts
              </li>
              <li>
                <span class="TitleBold3">Drive-up GGR –</span>
                +20% monthly increase in GGR 
              </li>
              <li>
                <span class="TitleBold3">Effortless Integration –</span>
                Plug & play setup with minimal effort
              </li>
            </ul>
          </div>
        </div>


        <div class="texto" *ngIf="operatorsType === 'players'">
          <div class="secondlist">
            <ul>
              <li>
                <span class="TitleBold3">Bet as Easily as Chatting –</span>
                No apps or websites, just type and play
              </li>
              <li>
                <span class="TitleBold3">Hyper-Personalized Bets –</span>
                AI tailors recommendations for a unique experience
              </li>
              <li>
                <span class="TitleBold3">Real-Time Optimization –</span>
                AI refines bets on the fly, driving higher engagement 
              </li>
              <li>
                <span class="TitleBold3">Faster Transactions –</span>
                Place bets and withdraw winnings instantly
              </li>
            </ul>
          </div>
        </div>
        <div class="completebutton">
          <a href="#contactanos">Get a Free Demo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<!-- 3.5 Tabla de Beneficios -->
<div id="funciones" class="section">
  <div class="second-section">
    <div class="second-flex">
      <span class="TitleTag">Comparison Table</span>
      <h1>Check Why We are the Best!</h1>
    </div>

        <div class="table">
          <table>
            <tr class="thtitle">
              <th class="feature">Feature</th>
              <th>ChatBet</th>
              <th>Other Chat-Based Platforms</th>
              <th>Traditional Sportbooks</th>
            </tr>
            <td colspan="4">
              <div class="separator"></div> <!-- Línea horizontal -->
            </td>
            <tr>
              <td class="tdtitle">True Chat-Based Betting</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/guion.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">AI-Powered Personalization</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td>Basic</td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">Real-time Bet Optimization</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>

            <tr>
              <td class="tdtitle">Instant Betting & Results</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/guion.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">Multi-Platform Access</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">Custom Mid-Game & High-Payout Bets</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/guion.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">Seamless Operator Integration</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td>Requires Custom Integration</td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
            <tr>
              <td class="tdtitle">Higher Revenue & Retention</td>
              <td><img src="../../../../assets/newsetimg/true.png" alt=""></td>
              <td><img src="../../../../assets/na.png" alt=""></td>
              <td><img src="../../../../assets/newsetimg/false.png" alt=""></td>
            </tr>
          </table>
        </div>
  </div>
</div>

<hr class="hr">

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      
      <div class="text">
        <span class="TitleTag" id="HowDoesitWork">How Does it Work</span>
        <h1>As Easy as 1, 2, 3… <br>
          For Operators & Players</h1>

        <div class="top-buttons">
          <button
          [class.active]="NewOperatorsType === 'operators'"
            (click)="NewOperatorsType = 'operators'"
          >Operators</button>
          <button
          [class.active]="NewOperatorsType === 'players'"
          (click)="NewOperatorsType = 'players'">Players</button>
        </div>

        <div class="texto"  *ngIf="NewOperatorsType === 'operators'">
          <div class="secondlist">
            <br>
            <span class="TitleBold3">Seamless Integration</span>
            <br>
            <p>Integrating ChatBet is as simple as using it—enhancing platforms with minimal effort while maximizing revenue.</p>
            <ul>
              <li>
                <span class="TitleBold3"> Quick API Integration:</span>
                Works with existing platforms in weeks.
              </li>
              <li>
                <span class="TitleBold3">Automated AI Handling:</span>
                 No manual bet processing needed.
              </li>
              <li>
                <span class="TitleBold3">Boost Revenue & Engagement:</span>
                 More bets, higher retention, and increased turnover.
              </li>
            </ul>
            <p>
              A frictionless process keeps players engaged, making betting fast, intuitive, and accessible from their favorite messaging apps.
            </p>
          </div>
        </div>


        <div class="texto" *ngIf="NewOperatorsType === 'players'">
          <div class="secondlist">

            <span class="TitleBold3">Effortless Betting - Just Chat & Play</span>
            <p>With ChatBet, placing a bet is as easy as sending a message. No complex sites, no lengthy registrations—just a seamless chat experience.</p>

            <ul>
              <li>
                <span class="TitleBold3">Just Chat -</span>
                  Type your bet like a message—no apps, no forms.
              </li>
              <li>
                <span class="TitleBold3">Instant AI Assistance –</span>
                 Real-time odds, smart recommendations, and confirmations.
              </li>
              <li>
                <span class="TitleBold3">Enter Your Amount –</span>
                 No searching or manual input.
              </li>
              <li>
                <span class="TitleBold3">Confirm & Bet Instantly 🤙 –</span>
                 Quick confirmation, instant action.
              </li>
              <li>
                <span class="TitleBold3"> Win & Withdraw –</span>
                Secure payouts, no complications.
              </li>
            </ul>
            <p>
              A frictionless solution that enhances user experience, drives profitability, and future-proofs your betting operation.            </p>
          </div>

        </div>
        
      </div>
      <!--  -->
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/comofunciona.png" alt="" />
      </div>
    </div>
  </div>
</div>
<hr class="hr">


<!-- 4. Como Funciona -->
<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">

        <h1>Proven Success</h1>

        <span class="TitleBold3">AI-Driven Growth. Measurable Impact.</span>
        <div class="texto">
          <p>
            ChatBet isn’t just easy—it’s profitable. Our AI-driven platform delivers real results.<br /><br />
            ChatBet supports operators by keeping users engaged, maximizes betting value, and streamlines operations across multiple channels.<br /><br />
            Effortlessly grow revenue, attract new bettors, and retain players—securely and efficiently
          </p>
        </div>
        <div class="completebutton">
          <a href="#contactanos">Join The Winning Operators</a>
        </div>
      </div>
      <div class="image-section" style="display: flex">
        <img [src]="currentImages['img1']" alt="" />
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<!-- Proteccion -->
<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/NFrame6.png" alt="" />
      </div>
      <div class="text">
        <span class="TitleTag" id="security">Security</span>
        <!-- <span class="TitleBold2">{{ "proteccion" | translate }}</span> -->
        <h1>Top-Level Protection for Operators & Players</h1>

        <p>
          ChatBet is built on enterprise-grade infrastructure, ensuring maximum player and operator protection.
        </p>

        <div class="secondlist">
          <ul>
            <li>
              <span class="TitleBold3">End-to-End Encryption:</span>
               100% secure transactions & player data protection.
            </li>
            <li>
              <span class="TitleBold3">PCI DSS & ISO 27001 Certified:</span>
               Meets global financial security standards.
            </li>
            <li>
              <span class="TitleBold3">AWS & OpenAI Infrastructure:</span>
               Industry-leading cloud security & scalability.
            </li>
            <li>
              <span class="TitleBold3"> Fraud Detection & Risk Management:</span>
              AI-driven safeguards against unauthorized access.
            </li>
          </ul>
        </div>
        <div class="completebutton">
          <a href="#contactanos">Learn More About Security</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<!-- 5. Seguridad -->
<!-- <div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <p>
          <span class="TitleBold">{{ "entiendeyguia" | translate }}</span>
          {{ "laexperiencia" | translate }}
        </p>
        <h1>{{ "depositos" | translate }}</h1>
        <div class="texto">
          <p>{{ "optimiza" | translate }}tususuarios<br /><br /></p>
        </div>
        <div class="botones">
            <span class="TitleBold3">{{ "casinos" | translate }}</span>
            <span class="TitleBold3">{{ "soporte" | translate }}</span>
            <span class="TitleBold3">{{
              "sugerencias" | translate
            }}</span>
            <span class="TitleBold3">{{
              "soporterespuestas" | translate
            }}</span>
          <div class="division">
            <span class="TitleBold3">Open AI</span>
            <span class="TitleBold3">CloudFlrare</span>
              <span class="TitleBold3">{{ "promociones" | translate }}</span>  
          </div>
            <span class="TitleBold3">{{ "ofertas" | translate }}</span>
            <span class="TitleBold3">{{ "noticias" | translate }}</span>
        </div>
      </div>
      <div class="frame4" style="display: flex">
        <img [src]="currentImages['Frame4']" alt="" />
      </div>
    </div>
  </div>
</div> -->

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      
      <div class="text">
        <span class="TitleTag" id="compliance">Compliance</span>
        <h1>Regulatory-Compliant AI Betting</h1>
        <br>
        <p>ChatBet is designed to operate exclusively through licensed sportsbook operators, ensuring full legal & regulatory compliance.</p>
        <p>While ChatBet introduces a new way to monetize—through messaging apps—it functions purely as a communication channel.</p>
        <div class="texto"  *ngIf="NewOperatorsType === 'operators'">
          <div class="secondlist">
            <ul>
              <li>
                <span class="TitleBold3"> No direct fund handling:</span>
                 All transactions go through the operator’s wallet.
              </li>
              <li>
                <span class="TitleBold3">No player data storage:</span>
                 ChatBet relays information but does not retain user data.
              </li>
              <li>
                <span class="TitleBold3">Operator-controlled markets:</span>
                 ChatBet mirrors the sportsbook’s existing offerings.
              </li>
              <li>
                <span class="TitleBold3">Adheres to Global Regulations:</span>
                 Compliance with iGaming, GDPR, and financial laws.
              </li>
            </ul>
            <p>
              ChatBet is not a new platform—it’s a smarter interface layered on top of the operator’s system, simplifying betting while maintaining full regulatory alignment.
            </p>
          </div>
        </div>
        <div class="completebutton">
          <a href="#contactanos">Get Compliance Details</a>
        </div>
      </div>
      <!--  -->
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/compilance.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<hr class="hr">

<!-- 6. Integracion-->
<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/integration.png" alt="" />
      </div>
      <div class="text">
          <span class="TitleTag" id="integration">Integration</span>
        <h1>Fast Hassle-Free Integration</h1>
        <p>Operators can integrate ChatBet effortlessly—launching chat-based betting within weeks.</p>
        <div class="secondlist">
          <ul>
            <li>
              <span class="TitleBold3"> Minimal Technical Effort:</span>
               Works with existing systems.
            </li>
            <li>
              <span class="TitleBold3">Customizable Configurations:</span>
               Tailored to your needs.
            </li>
            <li>
              <span class="TitleBold3">Full Technical Support:</span>
               Dedicated assistance for a smooth launch.
            </li>
          </ul>

        </div>
        <div class="completebutton">
          <a href="#contactanos">Start Integrating Today</a>
        </div>

      </div>
    </div>
  </div>
</div>

<hr class="hr">

<!--7. Carrusel -->
<div class="backgroundline">
  <div class="review">
    <img [src]="currentImages['img4']" alt="" />
  </div>
  <div class="reviewphone">
    <img [src]="currentImages['reviewphone']" alt="" />
  </div>
</div>

<hr class="hr">

<!-- 9. Contactanos -->
<div id="contactanos" class="section">
  <div class="sixth-section">
    <div class="text">
      <div class="tag">
        <span class="TitleTag" id="contactus">Contact Us</span>
      </div>
      <h1>Join the Future of AI-Powered Betting with ChatBet!</h1>
      <h3>
        <span class="TitleBoldMobile">Experience the thrill! Schedule a demo today and see how ChatBet's AI revolutionizes the user experience.</span>
      </h3>
    </div> 

    <div class="form" [formGroup]="form">
      <form action="javascript:void(0)" (submit)="send()">
        <div class="form-input">
          <div class="form-section">
            <input formControlName="name" type="text" placeholder="Your Name*" />
          </div>
          <div class="form-section">
            <div class="countries">
              <div class="num-selector">
                <app-custom-select [countries]="countries" (countrySelected)="onCountrySelected($event)"></app-custom-select>
              </div>
              <input formControlName="contact" type="text" placeholder="Your Contact Number*" />
            </div>
          </div>
          <div class="form-section">
            <input formControlName="email" type="text" placeholder="Your Company Email*" />
          </div>
          <div class="form-section">
            <input formControlName="empresa" type="text" placeholder="Your Company Name*" />
          </div>
      <!--     <div class="form-section">
            <input formControlName="cargo" type="text" placeholder="Cargo" />
          </div>
          <div class="form-section">
            <input formControlName="country" type="text" placeholder="País" />
          </div> -->
        </div>
        <div class="form-send">
          <input formControlName="message" type="text" placeholder="How Can Our Team Help?" />
          <button type="submit">Send info</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="backgroundline">
  <div class="fotter1">
    <img [src]="currentImages['footer']" alt="" />
  </div>

  <div class="fotter2">
    <img [src]="currentImages['footer2'] " alt="" />
  </div>
</div>


