<div class="section">
  <div class="background">
    <img src="./assets/Background/Seccion1.png" alt="" />
  </div>

  <header>
    <div class="section-header">
      <img class="chatbetone" src="./assets/Icon/Layer_1.png" alt="" />
      <img class="chatbet" src="../../../../assets/img/Frame0.png" alt="" />
      <div class="navbar">
        <a href="#funciones">{{ "headerone" | translate }}</a>
        <a href="#beneficios">{{ "headertwo" | translate }}</a>
        <a href="#comofunciona">{{ "headertree" | translate }}</a>
        <a href="#integracion">{{ "headerfour" | translate }}</a>
        <a href="#contactanos">{{ "headerfive" | translate }}</a>
        <span class="divisor">|</span>
        <div class="idioma">
          <a href="" (click)="switchLanguage('en')">
            En
          </a>
          <a href="" (click)="switchLanguage('es')">
            Es
          </a>
         <!--  <img
            [src]="
              currentLanguage === 'en'
                ? '../../../../assets/img/us-on.svg'
                : '../../../../assets/img/us-of.png'
            "
            alt=""
            class="us"
            (click)="switchLanguage('en')"
          />
          <img
            [src]="
              currentLanguage === 'es'
                ? '../../../../assets/img/esp-on.png'
                : '../../../../assets/img/esp-off.svg'
            "
            alt=""
            class="esp"
            (click)="switchLanguage('es')"
          /> -->
        </div>
      </div>
    </div>
  </header>

  <div class="first-section">
    <div class="gif2">
      <img
        src="../../../../assets/img/phone-tlf.svg"
        alt=""
        style="margin-top: 0"
      />
    </div>

    <div class="first-section-container">
      <div class="text">
        <!-- <img src="../../../../assets/img/Frame8.png" alt="" /> -->
        <div class="animation-container">
          <ng-lottie
            *ngIf="currentLanguage === 'es'; else otherOptions"
            [options]="options"
            class="lottie-animation"
          >
          </ng-lottie>
          <ng-template #otherOptions>
            <ng-lottie [options]="secondoptions" class="lottie-animation">
            </ng-lottie>
          </ng-template>
        </div>
        <div class="texto">
          <ng-container *ngIf="currentLanguage === 'es'">
            <p>{{ "text" | translate }} <br /><br /></p>
          </ng-container>

          <ng-container *ngIf="currentLanguage === 'en'">
            <p>{{ "text" | translate }} <br /><br /></p>
          </ng-container>
        </div>
        <div class="video">
          <a href="#contactanos">{{ "Get" | translate }}</a>
          <!-- <button href="#contactanos">{{ "Get" | translate }}</button> -->
          <img
            [src]="currentImages['img3']"
            alt=""
            (click)="playVideo()"
          />
        </div>
      </div>

      <div class="image-first-container">
        <img
          [src]="currentImages['img5']"
          alt=""
          style="margin-top: 0"
        />
        <img class="lastimage" [src]="currentImages['img2']" alt="" />
      </div>

      <div
        class="gif"
        [ngClass]="{
          'es-size': currentLanguage === 'es',
          'en-size': currentLanguage === 'en'
        }"
      >
        <video
          #videoElement
          width="100%"
          height="100%"
          style="display: none"
          controls
        >
          <source [src]="currentImages['video']" type="video/mp4" />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <div class="iconline">
    <img src="../../../../assets/Background/end-sect-one.png " alt="" />
    <img class="line" src="../../../../assets/Icon/icons.svg" alt="" />
  </div>
</div>

<div id="funciones" class="section">
  <div class="second-section">
    <div class="second-flex">
      <h1>{{ "Features" | translate }}</h1>
      <div class="text">
        <div class="texto">
          <p>{{ "Mantenga" | translate }}<br /><br /></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comofunciona" class="section">
  <div class="fourth-section">
    <div class="image-carousel">
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon1.png" alt="" />
        <h2>{{ "title1" | translate }}</h2>

        <p>{{ "Hablacon" | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon2.png" alt="" />
        <h2>{{ "title2" | translate }}</h2>
        <p>{{ "Buscacon" | translate }}</p>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon3.png" alt="" />
        <h2>{{ "title3" | translate }}</h2>
        <p>{{ "Conuna" | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame2.png" alt="" />
      </div>
      <div class="text">
        <h1>{{ "Beneficios" | translate }}</h1>
        <div class="texto">
          <p>
            <span class="TitleBold3">{{ "Reducción" | translate }}</span>
            {{ "Minimiza" | translate }}<br /><br />
            <span class="TitleBold3">{{ "Machine" | translate }} </span
            >{{ "Utiliza" | translate }}<br /><br />
            <span class="TitleBold3">{{ "IA" | translate }}</span>
            {{ "Responde" | translate }}
          </p>
        </div>
        <div class="completebutton">
          <a href="#contactanos">{{ "Get" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <p>
          <span class="TitleBold">{{ "mascientocincuenta" | translate }}</span>
          {{ "activos" | translate }}
        </p>
        <h1>{{ "porquedeberias" | translate }}</h1>
        <div class="texto">
          <p>
            {{ "conchatbet" | translate }}.<br /><br />

            {{ "optimiza" | translate }}<br /><br />
          </p>
        </div>
      </div>
      <div class="image-section" style="display: flex">
        <img [src]="currentImages['img1']" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="backgroundline">
  <img src="../../../../assets/Background/end-sect-one.png " alt="" />
</div> -->

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <p>
          <span class="TitleBold">{{ "entiendeyguia" | translate }}</span>
          {{ "laexperiencia" | translate }}
        </p>
        <h1>{{ "depositos" | translate }}</h1>
        <div class="texto">
          <p>{{ "optimiza" | translate }}tususuarios<br /><br /></p>
        </div>
        <div class="botones">
         
            <span class="TitleBold3">{{ "casinos" | translate }}</span>
       
        
            <span class="TitleBold3">{{ "soporte" | translate }}</span>
       
            <span class="TitleBold3">{{
              "sugerencias" | translate
            }}</span>
         
            <span class="TitleBold3">{{
              "soporterespuestas" | translate
            }}</span>
          <div class="division">
            <span class="TitleBold3">Open AI</span>
            <span class="TitleBold3">CloudFlrare</span>
            
              <span class="TitleBold3">{{ "promociones" | translate }}</span>
            
          </div>
          
            <span class="TitleBold3">{{ "ofertas" | translate }}</span><br />
          
            <span class="TitleBold3">{{ "noticias" | translate }}</span>
          
        </div>
      </div>

      <div class="frame4" style="display: flex">
        <img src="../../../../assets/img/Frame4.svg" alt="" />
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img [src]="currentImages['third']" alt="" />
      </div>
      <div class="text">
        <h1>{{ "sincomplicaciones" | translate }}</h1>
        <div class="texto">
          <p>
            {{ "tususuariosapuestan" | translate }}<br /><br />
            <span class="TitleBold3">{{ "tususuarioshacen" | translate }}</span
            ><br />
            {{ "enlugar" | translate }}<br /><br />
            <span class="TitleBold3">{{ "ingresan" | translate }}</span
            ><br />
            {{ "soloindican" | translate }}<br /><br />
            <span class="TitleBold3">{{ "confirman" | translate }}</span
            ><br />
            {{ "unmensajerapido" | translate }}
            <br /><br />
            {{ "esproceso" | translate }}
          </p>
        </div>
        <div class="completebutton">
          <a href="#contactanos">{{ "Get" | translate }}</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <div class="review">
    <img [src]="currentImages['img4']" alt="" />
  </div>

  <div class="reviewphone">
    <img src="../../../../assets/Background/carrusel.png" alt="" />
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame6.png" alt="" />
      </div>
      <div class="text">
        <span class="TitleBold2">{{ "proteccion" | translate }}</span>
        <h1>{{ "laplataforma" | translate }}</h1>

        <div class="texto">
          <p>
            {{ "segura" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contactanos" class="section">
  <div class="sixth-section">
    <div class="text">
      <span class="TitleBold2">{{ "unanse" | translate }}</span>
      <h1>{{ "Listopara" | translate }}</h1>
      <h3>
        <span class="TitleBoldMobile">{{ "Únase" | translate }} </span>
        {{ "Agendemos" | translate }}
      </h3>
    </div>

    <div class="form" [formGroup]="form">
      <form action="javascript:void(0)" (submit)="send()">
        <div class="form-input">
          <div class="form-section">
            <input
              formControlName="name"
              type="text"
              placeholder="{{ 'Nombre' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="contact"
              type="text"
              placeholder="{{ 'Número' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="email"
              type="text"
              placeholder="{{ 'Correo' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="empresa"
              type="text"
              placeholder="{{ 'Empresa' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="cargo"
              type="text"
              placeholder="{{ 'Cargo' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="country"
              type="text"
              placeholder="{{ 'Pais' | translate }}"
            />
          </div>
        </div>
        <div class="form-send">
          <input
            formControlName="message"
            type="text"
            placeholder="{{ 'Feel' | translate }}"
          />

          <button type="submit">{{ "Sumbit" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="backgroundline">
  <div class="fotter1">
    <img [src]="currentImages['footer']" alt="" />
  </div>

  <div class="fotter2">
    <img [src]="currentImages['footer2'] " alt="" />
  </div>
</div>
