<div class="section">
  <div class="background">
    <img src="./assets/Background/Seccion1.png" alt="" />
  </div>

  <header>
    <div class="section-header">
      <img src="./assets/Icon/Layer_1.png" alt="" />
      <div class="navbar">
        <a href="#funciones">{{ "headerone" | translate }}</a>
        <a href="#beneficios">{{ "headertwo" | translate }}</a>
        <a href="#comofunciona">{{ "headertree" | translate }}</a>
        <a href="#integracion">{{ "headerfour" | translate }}</a>
        <a href="#contactanos">{{ "headerfive" | translate }}</a>
        <span class="divisor">|</span>
        <div class="idioma">
          <img
            [src]="
              currentLanguage === 'en'
                ? '../../../../assets/img/us-on.svg'
                : '../../../../assets/img/us-of.png'
            "
            alt=""
            class="us"
            (click)="switchLanguage('en')"
          />
          <img
            [src]="
              currentLanguage === 'es'
                ? '../../../../assets/img/esp-on.png'
                : '../../../../assets/img/esp-off.svg'
            "
            alt=""
            class="esp"
            (click)="switchLanguage('es')"
          />
        </div>
      </div>
    </div>
  </header>

  <div class="first-section">
    <div class="gif2">
      <img
        src="../../../../assets/img/Frame1.png"
        alt=""
        style="margin-top: 0"
      />
      <!-- <div class="video" id="gifImageMobile" (click)="playVideoMobile()"></div> -->
      <video
        #videoElementMobile
        width="100%"
        height="100%"
        style="display: none"
        controls
      >
        <source [src]="currentImages['video']" type="video/mp4" />
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>

    
    <h1>{{ "subtitle" | translate }}</h1>
    <div class="first-section-container">
      <div class="text">
        <div class="texto">
          <ng-container *ngIf="currentLanguage === 'es'">
            <p>{{ "text" | translate }} <br /><br /></p>
          </ng-container>

          <ng-container *ngIf="currentLanguage === 'en'">
            <p>
              {{ "text" | translate }} <br /><br />
              <span class="TitleBold">ChatBet</span>
              {{ "thankstoiatwo" | translate }}
            </p>
          </ng-container>
        </div>
        <button>{{ "Get" | translate }}</button>
      </div>
      <img
      src="../../../../assets/img/Frame1.png "
      alt=""
      style="margin-top: 0"
    />

      <div
        class="gif"
        [ngClass]="{
          'es-size': currentLanguage === 'es',
          'en-size': currentLanguage === 'en'
        }"
      >
       
        <!-- <div class="video-play" id="gifImage" (click)="playVideo()"></div> -->
        <video
          #videoElement
          width="100%"
          height="100%"
          style="display: none"
          controls
        >
          <source [src]="currentImages['video']" type="video/mp4" />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <img src="../../../../assets/Background/end-sect-one.png " alt="" />
</div>

<div id="funciones" class="section">
  <div class="second-section">
    <div class="second-flex">
      <h1>{{ "Features" | translate }}</h1>
      <div class="text">
        <h3>{{ "Potencie" | translate }}</h3>
        <div class="texto">
          <p>{{ "Mantenga" | translate }}<br /><br /></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comofunciona" class="section">
  <div class="fourth-section">
    <div class="image-carousel">
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon1.png" alt="" />
        <h2>{{ "title1" | translate }}</h2>

        <p>{{ "Hablacon" | translate }}</p>
      </div>

      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon2.png" alt="" />
        <h2>{{ "title2" | translate }}</h2>
        <p>{{ "Buscacon" | translate }}</p>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Icon/icon3.png" alt="" />
        <h2>{{ "title3" | translate }}</h2>
        <p>{{ "Conuna" | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame2.png" alt="" />
      </div>
      <div class="text">
        <h1>{{ "Beneficios" | translate }}</h1>
        <div class="texto">
          <p>
            <span class="TitleBold">{{ "Reducción" | translate }}</span>
            {{ "Minimiza" | translate }}<br /><br />
            <span class="TitleBold">{{ "Machine" | translate }} </span
            >{{ "Utiliza" | translate }}<br /><br />
            <span class="TitleBold">{{ "IA" | translate }}</span>
            {{ "Responde" | translate }}
          </p>
        </div>

        <button>{{ "Get" | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <p>
          <span class="TitleBold">Más de 150,000 jugadores</span> activos y
          jugando
        </p>
        <h1>¿Por que Deberias integrar Chat Bet?</h1>
        <div class="texto">
          <p>
            Con ChatBet, retener jugadores nunca ha sido tan fácil. Nuestra IA
            personaliza cada apuesta, creando experiencias únicas que mantienen
            a los usuarios comprometidos y aumentan tu crecimiento.<br /><br />

            Optimiza el turnover, atrae nuevos apostadores y mejora la
            retención, todo mientras maximizas el valor de cada apuesta. Además,
            gestiona operaciones en múltiples canales de manera ágil y segura,
            adaptada a cada jugador.<br /><br />
          </p>
        </div>
      </div>
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame3.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <img src="../../../../assets/Background/end-sect-one.png " alt="" />
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="text">
        <p>
          <span class="TitleBold">Entiende, guia y mejora</span> la experiencia
          de apuestas
        </p>
        <h1>Depósitos y Retiros Seguros en Fiat o Cripto.</h1>
        <div class="texto">
          <p>
            Con ChatBet, tus usuarios pueden realizar depósitos y retiros de
            forma segura en monedas locales o criptomonedas a través de
            cualquier canal instalado, como WhatsApp o Telegram. Todas las
            transacciones se procesan de manera segura y sin necesidad de salir
            del chat, garantizando una experiencia fluida y sin
            complicaciones.<br /><br />
          </p>
        </div>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
        <button>{{ "Get" | translate }}</button>
      </div>
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame4.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame5.png" alt="" />
      </div>
      <div class="text">
        <h1>Apuestas Sin Complicaciones para tus Usuarios—Todo en un Chat</h1>
        <div class="texto">
          <p>
            Con ChatBet, tus usuarios apuestan tan fácil como enviar un mensaje.
            Sin navegar sitios ni registros largos, todo ocurre en una sola
            conversación.<br /><br />
            <span class="TitleBold"
              >Tus usuarios hacen sus apuestas en segundos</span
            ><br />
            En lugar de buscar, simplemente escriben en el chat la apuesta que
            desean hacer.<br /><br />
            <span class="TitleBold">Ingresan el monto a apostar</span><br />
            Tus usuarios solo indican cuánto quieren apostar y están listos.<br /><br />
            <span class="TitleBold"
              >Confirman y la apuesta se realiza al instante 🤑</span
            ><br />
            Un mensaje rápido de confirmación, y la apuesta está activa—sin
            retrasos ni complicaciones.
            <br /><br />
            Este proceso fluido mantiene a los usuarios comprometidos,
            ofreciendo una experiencia rápida y sin fricciones en su plataforma
            de mensajería favorita.
          </p>
        </div>

        <button>{{ "Get" | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="backgroundline">
  <img src="../../../../assets/Background/reviews.png" alt="" />
</div>

<div id="beneficios" class="section">
  <div class="third-section">
    <div class="third-flex">
      <div class="image-section" style="display: flex">
        <img src="../../../../assets/img/Frame6.png" alt="" />
      </div>
      <div class="text">
        <span class="TitleBold">Protección de primer nivel</span>
        <h1>La plataforma segura que tu negocio necesita.</h1>

        <div class="texto">
          <p>
            La seguridad es esencial en nuestra plataforma. Con AWS, PCI DSS,
            y ISO 27001, garantizamos operaciones protegidas y datos seguros,
            cumpliendo con los más altos estándares de la industria.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contactanos" class="section">
  <div class="sixth-section">
    <div class="text">
      <span class="TitleBold2">¡Únase a la emoción! </span>
      <h1>{{ "Listopara" | translate }}</h1>
      <h3>
        <span class="TitleBoldMobile">{{ "Únase" | translate }} </span>
        {{ "Agendemos" | translate }}
      </h3>
    </div>

    <div class="form" [formGroup]="form">
      <form action="javascript:void(0)" (submit)="send()">
        <div class="form-input">
          <div class="form-section">
            <input
              formControlName="name"
              type="text"
              placeholder="{{ 'Nombre' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="contact"
              type="text"
              placeholder="{{ 'Número' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="email"
              type="text"
              placeholder="{{ 'Correo' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="empresa"
              type="text"
              placeholder="{{ 'Empresa' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="cargo"
              type="text"
              placeholder="{{ 'Cargo' | translate }}"
            />
          </div>
          <div class="form-section">
            <input
              formControlName="country"
              type="text"
              placeholder="{{ 'Pais' | translate }}"
            />
          </div>
        </div>
        <div class="form-send">
          <input
            formControlName="message"
            type="text"
            placeholder="{{ 'Feel' | translate }}"
          />

          <button type="submit">{{ "Sumbit" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="backgroundline">
  <img src="../../../../assets/Background/footer.png " alt="" />
</div>
