h1,h2,h3,h4,h5,h6{
    color: #fff;
    font-family: "Poppins", sans-serif;
}           
span{
    color: #9595ff;
}

p{

    text-align: justify;
}


h1{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins-Bold", sans-serif;
    margin-top: 24px;
    margin-bottom: 0;
    @media (max-width: 900px){
        font-size: 2rem;
    }
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins-Medium", sans-serif;
    margin: 0;
    margin-top: 16px;
   
}

    .section{
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 7%;
        padding-right: 7%;
        margin-bottom: 64px;
        .background{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section-header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;

        @media screen and (max-width: 900px){
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        }
    }

    .navbar{
        display: flex;
        a{
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
            font-family: "Poppins", sans-serif;
            &:hover{
                color: #9595ff;
            }

            
        @media(min-width: 1050px) and (max-width: 1100px){
            margin-right: 8px;
        }
  
            @media screen and (max-width: 1049px){
                display: none;  
            }
        }

        .divisor{
            margin-right: 5px;
            font-family: "Poppins", sans-serif;
            font-weight: bold;

            @media screen and (max-width: 1049px){
                display: none;  
            }
        }

        .idioma{
            align-items: center;
            cursor: pointer;
            justify-content: space-between;

            @media screen and (max-width: 900px){
                margin-top: 20px;
                margin-bottom: -25px;
            }
        }

        .us{
            margin-right: 10px;
        }
        .us:hover {
            opacity: 0.5;
        
        }
        .esp:hover{
            opacity: 0.5;
        }

    }
    
    .TitleBold{
        font-family: "Poppins-Bold", sans-serif;
    }
    .TitleBoldMobile{
        font-family: "Poppins-Bold", sans-serif;
        @media screen and (max-width: 900px){
            font-size: 1.5rem;
        }
    }


    /* First Section */

    .first-section{
        display: flex;
        flex-direction: column;

    
        @media screen and (max-width: 900px){
            .gif{
                display: none;
            }
            .gif2{
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                     object-fit: cover;       
                }

                .video{
                    position: absolute;
                    width: 150px; 
                    height: 150px; 
                    background-image: url('../../../../assets/img/play1.svg'); 
                    background-size: cover; 
                    transition: background-image 0.5s ease-in-out;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
                .video:hover{
                    background-image: url('../../../../assets/img/play2.svg'); 
        
                }

            }
        }
        .gif2{
            @media screen and (min-width: 900px){
                display: none;   
            }
        }
  
    .first-section-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
       
        @media (max-width: 900px){
            display: flex;
            flex-direction: column;

        }

        .gif{
        position: relative;
         }
        .video-play{
            position: absolute;
            width: 100px; 
            height: 100px; 
            background-image: url('../../../../assets/img/play1.svg'); 
            background-size: cover; 
            transition: background-image 0.5s ease-in-out;
            top: 45%;
            left: 42%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        .video-play:hover{
            background-image: url('../../../../assets/img/play2.svg'); 

        }

        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

          }
        
        .text{
            font-family: 'Poppins', sans-serif;
            color: #fff;
        }

        .texto{
            display: flex;
            align-items: stretch; 
           /*  margin-top: 10px; */

            img{
                width: 5px;
                object-fit: cover;
                margin-right: 3%; 
            }
            p{
                margin: 0;
                transition: opacity 0.5s;
                border-left: 4px solid  #9595ff;
                padding-left: 1rem;
                margin-top: 24px;
                
            }
        }

        button{
            width: 40%;
            padding: 1rem;
            border: solid 1px;
            border-color: #9595ff;
            border-radius: 50px;
            background-color: rgba(100, 100, 255, 0.5);
            /* color: #9595ff; */
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 32px;
            font-size: medium;

            @media (max-width: 900px){
                width: 100%;
                
            }
        }

        button:hover{
            opacity: 0.5;
            cursor: pointer;
        }
       
        
            img{
                width: 85%;
                height: auto;
                object-fit: cover;       
            }
       
        
    }

}


    /* Second Section */
    .second-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* margin-top: -70px; */
        
        @media (max-width: 900px) {
            display: block;
            margin-top: 0;
            
        }
        .text{
            font-family: 'Poppins', sans-serif;
            color: #fff;
            width: 60%;
            @media screen and (max-width: 900px){
                width: 100%;
            }
            span{
                color: #9595ff;
            }
        }

        .texto{
            display: flex;
            align-items: center;
            margin-top: 15px;

            img{
                width: 5px;
                height: 100%;
                margin-right: 3%;
            }

            p{
                margin: 0;
                transition: opacity 0.5s;
                border-left: 4px solid  #9595ff;
                padding-left: 1rem;
                margin-top: 24px;
            }

            p.active {
                opacity: 1;
            }
        }
        .navigation-buttons{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 32px;
            @media (max-width: 900px){
                margin-bottom: 32px;
                
            }
            
            button{
                background-color: rgba(100, 100, 255, 0.5);
                border: solid 1px;
                border-color: #9595ff;
                color: #9595ff;
                font-size: 1.5rem;
                border-radius:28px;
                padding: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                cursor: pointer;
                
            }

            button:hover{
                opacity: 0.5;
            }

         
             button:active {
                transform: scale(0.95);
            }
            
            .hidden {
                visibility: hidden;
            }
            
            
        }

        .image-section{
            width: 40%;
            @media screen and (max-width: 900px){
                width: 100%;
            }
         }
        img{
            width: 80%;
            height: auto;
            object-fit: cover; 
            
    
        }
}

    /* Third Section */
    .third-flex{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: 900px) {
            display: block;
            
        }

        .text{
            font-family: 'Poppins', sans-serif;
            color: #fff;
            width: 60%;
            @media screen and (max-width: 900px){
                width: 100%;
            }
            span{
                color: #9595ff;
            }
        }

        .texto{
            display: flex;
            align-items: stretch;

            img{
                width: 5px;
                object-fit: cover;
                margin-right: 3%;   
            }
           
            p{
                margin: 0;
                transition: opacity 0.5s;
                border-left: 4px solid  #9595ff;
                padding-left: 1rem;
                margin-top: 24px;
            }
        }

        .navigation-buttons{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 32px;

            @media (max-width: 900px){
                margin-bottom: 32px;
                
            }
            button{
                background-color: rgba(100, 100, 255, 0.5);

                border: solid 1px;
                border-color: #9595ff;
                color: #9595ff;
                font-size: 1.5rem;
                border-radius:28px;
                padding: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                cursor: pointer;
                
            }

            button:hover{
                opacity: 0.5;
            }

         
             button:active {
                transform: scale(0.95);
            }
            
            .hidden {
                visibility: hidden;
            }
            
            
        }

        .navigation-buttons button:active {
            transform: scale(0.95);
        }
        
        .navigation-buttons button.hidden {
            visibility: hidden;
        }
        
        
                .image-section{
                    width: 40%;
                    @media screen and (max-width: 900px){
                        width: 100%;
                    }
                 }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
}

    

    /* Fourth Section */

    .fourth-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        .text {
            font-family: 'Poppins', sans-serif;
            color: #fff;
    
            span {
                color: #9595ff;
            }
        }
    
        .texto{
            display: flex;
            align-items: center;
           
            img{
                width: 5px;
                object-fit: cover;
                margin-right: 3%;
                @media (min-width: 768px){
                    height: 100px;
    
                    
                }
               
            }

            p{
                margin: 0;
                transition: opacity 0.5s;
                border-left: 4px solid  #9595ff;
                padding-left: 1rem;
                margin-top: 24px;
            }
            
        }
    
    }

    
    .image-carousel {
        display: flex;
        justify-content: space-between;
        overflow: hidden; 
        width: 100%;
    
        .carousel-item {
            flex: 1;
            text-align: center;
            padding: 10px;
            margin: 0 5px; 
    
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-top: 24px;
            }
    
            p {
                color: #fff;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                margin-top: 10px;
                text-align: center;
            }
        }
    
        @media (max-width: 900px) {
            overflow-x: scroll; 
            scroll-snap-type: x mandatory;
            overflow-x: auto;

            .image-carousel::-webkit-scrollbar {
                display: none;
            }
            
            .image-carousel {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
            .carousel-item {
                flex: 0 0 auto;
                scroll-snap-align: start;
                width: 60%; 
            }
        }
    }
    
  /* Fifth Section */

    .fifth-section{
        display: flex;
        flex-direction: column;
        align-items: center;


       img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              margin-top: 24px;
       }
       p{
        margin-top: 24px;
       }
    
    }

/*Sixth-section  */

.form-input{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 900px){
        display: block;
    }

    input{
        width: 90%;
        padding: 1rem;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        border: solid 1px;
        border-color: #9595ff;
        color: #fff;
        font-family: 'Poppins', sans-serif; 
        margin-top: 15px;
    }

    input::placeholder{
        color: #fff;
        font-family: 'Poppins', sans-serif;    
    }

    label{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
}

.form-section{
    margin-top: 1rem;
}

.form-send{
    margin-top: 4%;
    label{
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    input{
        width: 90%;
        padding: 3rem;
        border:solid 1px;
        border-color: #9595ff;
        border-radius: 10px;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        margin-top: 15px;
        align-items: center;
        color: #fff;
        
        @media (max-width: 900px){
            width: 78%;
            padding: 2rem;
        }
    }

    input::placeholder{
        color: #fff;
        font-family: 'Poppins', sans-serif;    
    }

    button{
        width: 20%;
        padding: 1rem;
        border: solid 1px;
        border-color: #9595ff;
        border-radius: 50px;
        background-color: rgba(100, 100, 255, 0.5);
        color: white;
            font-family: 'Poppins', sans-serif;
            margin-top: 35px;
            font-size: medium;

        @media (max-width: 900px){
            width: 100%;
        }

}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}
}