<div class="custom-select">
  <input
    *ngIf="isOpen"
    type="text"
    [formControl]="searchControl" 
    placeholder="Search..."
    class="search-input"
  />

  <div class="selected-option" (click)="toggleDropdown()">
    <span *ngIf="selectedCountry" >
      <img [src]="selectedCountry.flag" alt="{{ selectedCountry.name }} flag" style="width: 20px; height: 15px; margin-right: 10px;">
      {{ selectedCountry.code3 }} ({{ selectedCountry.dialCode }})
    </span>
    <span *ngIf="!selectedCountry">Select</span>
  </div>

  <div class="options" *ngIf="isOpen">
    <div *ngFor="let country of filteredCountries" (click)="selectCountry(country)">
      <img [src]="country.flag" alt="{{ country.name }} flag" style="width: 20px; height: 15px; margin-right: 10px;">
      {{ country.name }} ({{ country.dialCode }})
    </div>
  </div>
</div>